<p id="notice"><%= notice %></p>

<h2>
  <%= @restaurant.name %>
</h2>

<p>
  <strong>Content:</strong>
  <%= @restaurant.content %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @restaurant.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @restaurant.lon %>
</p>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
